<!DOCTYPE html>
<html>
    <head>
        <title>Tyler Moore</title>
    </head>
    <body>
        <h2>Intro</h2>
        <p>{{.Intro}}</p>
        <h2>Education</h2>
        {{range .Education}}
        <p>{{.}}</p>
        {{end}}
        <h2>Experience</h2>
        {{range .Experience}}
        <p>{{.}}</p>
        {{end}}
        <h2>Projects</h2>
        {{range .Projects}}
        <p>{{.}}</p>
        {{end}}
        <h2>Skills</h2>
        {{range .Skills}}
        <p>{{.}}</p>
        {{end}}
        <h2>Links</h2>
        {{range .Links}}
        <p>{{.}}</p>
        {{end}}
    </body>
</html>