<!DOCTYPE html>
<html>

<head>
    <title>Tyler Moore</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container title-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbutton" href="#header">Tyler Moore</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbutton" href="#">EDUCATION</a>
                    </li>
                    <li>
                        <a class="navbutton" href="#">EXPERIENCE</a>
                    </li>
                    <li>
                        <a class="navbutton" href="#">PROJECTS</a>
                    </li>
                    <li>
                        <a class="navbutton" href="#">SKILLS</a>
                    </li>
                    <li>
                        <a class="navbutton" href="#">LINKS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" id="intro-jumbotron">
        <div class="container">
            <img src="/static/img/headshot.jpg" id="headshot">
            <h1 id="name">Tyler Moore</h1>
            <h3 id="intro">{{.Intro}}</h3>
        </div>
    </div>
    <div id="education" class="container">
        <h2>Education</h2>
        <div class="col-sm-2 fill">
            <img id="miami-logo" class="fit-image support-image" src="https://www.miamioh.edu/_files/images/ucm/resources/logo/M_186K.jpg">
        </div>
        <div class="col-sm-10">
            <h3>Computer Science and Software Engineering - Bachelor of Science, Miami University</h3>
            {{range .Education}}
            <h4>{{.}}</h4>
            {{end}}
        </div>
    </div>
    <div id="experience" class="container">
        <div>
            <h2>Experience</h2>
            <div class="col-sm-2">
                <img class="support-image" src="https://www.perfectomobile.com/sites/default/files/images/partner/logos/jenkins-logo-3.png">
            </div>
            <div class="col-sm-10 content-div">
                <h3>Undergraduate Research Assistant - Miami University</h3>
                <h4>May - August 2017</h4>
                <h4>Developed a Jenkins plugin to apply a static program slicing algorithm to a continuous integration server.</h4>
                <h4>Created and administered a NodeJS server using Amazon Web Services to communicate between the plugin and
                    a GitHub repository.
                </h4>
                <h4>Configured a Jenkins server on a Raspberry Pi running Linux for remote quality assurance testing.</h4>
            </div>
        </div>
        <div>
            <div class="col-sm-2">
                <img class="support-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/234px-Java_programming_language_logo.svg.png">
            </div>
            <div class="col-sm-10 content-div">
                <h3>Computer Science Teaching Assistant - Miami University</h3>
                <h4>May - December 2016</h4>
                <h4>Summer 2016: Object Oriented Programming under Dr. Gregory Gelfond</h4>
                <h4>Fall 2016: Data Abstractions & Structures under Dr. Angel Bravo-Salgado</h4>
                <h4>Evaluated programs of 30 – 50 students according to the instructor’s requirements and offered constructive
                    feedback.
                </h4>
                <h4>Designed automated test classes to rapidly, transparently, and consistently grade students’ programs.</h4>
                <h4>Reinforced students’ knowledge during twice-weekly office hours to explain course material and assist students
                    with assignments.</h4>
            </div>
        </div>
    </div>
    <div id="projects" class="container">
        <h2>Projects</h2>
        {{range .Projects}}
        <p>{{.}}</p>
        {{end}}
    </div>
    <div id="skills" class="container">
        <h2>Skills</h2>
        {{range .Skills}}
        <p>{{.}}</p>
        {{end}}
    </div>
    <div id="links" class="container">
        <h2>Links</h2>
        {{range .Links}}
        <p>{{.}}</p>
        {{end}}
    </div>
</body>

</html>
